body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_box{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: salmon;
    background-color: aliceblue;
    border: 4px ridge gray;
}
.object_name{
    font-weight: bolder;
    font-size: 15px;
}
canvas{
    border-radius: 10px;
    background-color: darkturquoise;
    box-shadow: 7px 7px 15px darkgoldenrod;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}